@using BotServiceGrain
@using Conceptoire.Twitch.Commands
@using Conceptoire.Twitch.Options
@using System.Text.Json
@using Microsoft.Extensions.DependencyInjection
@inject IClientProvider ClientProvider

<tr>
    @if (!_isEditing)
    {
        <td>
            <a class="btn btn-lg" @onclick="@(e => OnEditCommand(e, CommandName))"><i class="bi bi-pencil-square"></i></a>
        </td>
        <th>
            @if (CommandName == "*")
            {
                <em>Any message</em>
            }
            else
            {
                <strong>!@CommandName</strong>
            }
        </th>
        <td>@_commandType</td>
        <td></td>
        <td><div class="btn btn-danger" @onclick="OnDeleteCommand">Delete</div></td>
    }
    else
    {
        <td>
            <a class="btn btn-lg btn-primary" @onclick="@(e => OnConfirmCommand(e, CommandName))">Done</a>
        </td>
        <td>
            <input @bind="_commandName" @bind:event="oninput" />
        </td>
        <td>
            <select @bind="_commandType" class="form-select" aria-label="Bot command type selection">
                @foreach (var commandType in availableCommands)
                {
                    <option value="@commandType.Name">@commandType.Name</option>
                }
            </select>
        </td>
        <td>
        </td>
        <td>
        </td>
    }
</tr>

@code {
    [CascadingParameter(Name = "ServiceContext")]
    public MainLayout ServiceContext { get; set; }

    [Parameter]
    public string CommandName { get; set; }

    private string _commandName;

    [Parameter]
    public string CommandType { get; set; }

    [Parameter]
    public Guid? CommandId { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnDelete { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnValidate { get; set; }

    private string _commandType;

    private CommandMetadata[] availableCommands;

    private bool _isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        var client = await ClientProvider.GetConnectedClient();
        var channelGrain = client.GetGrain<IChannelGrain>(ServiceContext.UserId);
        availableCommands = (await channelGrain.GetSupportedCommandTypes()).ToArray();

        _isEditing = ! CommandId.HasValue;

        await base.OnInitializedAsync();
    }

    protected override void OnParametersSet()
    {
        _commandName = CommandName;
        _commandType = CommandType;
        base.OnParametersSet();
    }

    protected void OnEditCommand(MouseEventArgs evt, string key)
    {
        _isEditing = true;
    }

    protected async Task OnDeleteCommand(MouseEventArgs evt)
    {
        var client = await ClientProvider.GetConnectedClient();
        var channelGrain = client.GetGrain<IChannelGrain>(ServiceContext.UserId);
        await channelGrain.DeleteCommand(CommandId.Value);
        _isEditing = false;
        if (OnDelete.HasDelegate)
        { 
            await OnDelete.InvokeAsync(evt);
        }
    }

    protected async Task OnConfirmCommand(MouseEventArgs evt, string key)
    {
        CommandName = _commandName;
        CommandType = _commandType;
        _isEditing = false;

        var client = await ClientProvider.GetConnectedClient();
        var channelGrain = client.GetGrain<IChannelGrain>(ServiceContext.UserId);
        var commandStub = new CommandOptions { Name = CommandName, Aliases = new string[] { CommandName }, Type = CommandType };
        await channelGrain.AddCommand(commandStub);
        if (OnValidate.HasDelegate)
        {
            await OnValidate.InvokeAsync(evt);
        }
    }
}
